html {
    /*background-image: url("../Login/images/bg-01.jpg");*/
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    cursor: context-menu;
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url('../fonts/open-sans/OpenSans-SemiBold.ttf');
}

.selectBox {
    font-family: OpenSans-Light, sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 1200px;
    display: none;
    padding: 10px;
    border-radius: 3px;
    margin: 100px auto auto;
}

.selectBox .selectTitle {
    font-family: OpenSans-Regular, sans-serif;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 4px;
    margin-top: -95px;
}

.selectBox .characterTable {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

.selectBox .selectButton {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    cursor: pointer;
}

.selectBox .selectButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.selectBox .selectButton:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.characterTable .centered {
    text-align: center;
}

.characterTable td {
    padding: 10px;
}

.selectBox .image {
    float: left;
    padding: 10px 10px 10px 10px;
    color: rgba(255, 255, 255, 0.6);
}

.selectBox .title {
    float: left;
    margin-top: 10px;
    width: 80%;
    font-family: OpenSans-Regular, sans-serif;
}

.selectBox .content {
    float: left;
    width: 80%;
    padding-bottom: 10px;
}
