html {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url('../fonts/open-sans/OpenSans-SemiBold.ttf');
}

.notificationBox {
    font-family: OpenSans-Light, sans-serif;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    float: right;
    width: 700px;
    margin-top: 100px;
    display: none;
    padding: 10px;
}

.notificationBox .image {
    float: left;
    padding: 10px 10px 10px 10px;
    color: rgba(255, 255, 255, 0.6);
}

.notificationBox .title {
    float: left;
    margin-top: 10px;
    width: 80%;
    font-family: OpenSans-Regular, sans-serif;
}

.notificationBox .content {
    float: left;
    width: 80%;
    padding-bottom: 10px;
}